<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<center>
<body>
<br><br><br><br><br><br><br>
<main class="default-page">
  <nav>
    <p>
      
      <p>
        <a href="/merchants" class="merchants-link">Merchants</a>
      </p>
      <p>
        <a href="/tags" class="tags-link">tags</a>
      </p>
      <p>
        <a href="/transactions" class="transaction-link">Transactions</a>
      </p>
    </p>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
</main>
<br><br><br><br><br><br><br>
</body>
</center>
</html>