{% extends 'base.html' %}

{% block content %}
<h1>Transaction</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New Transaction</a>
</p>

<ul>
  {% for transaction in transactions %}
  <li>
  <p>Tag : {{ transaction.tag.name }} -  Merchant :{{ transaction.merchant.name }} </p>
  <p>"<i>Amount: {{transaction.amount}}</i>"</p>
    <p>
      <form action="/transactions/{{ transaction.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}