{% extends 'base.html' %}

{% block content %}
<style>
  body{
    place-items: center;
  }
</style>
<center>
<h1>Transaction</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New Transaction</a>
</p>

<div>
  {% for transaction in transactions %}
  <div class="transaction-details">
  <p>Tag : {{ transaction.tag.name }} -  Merchant :{{ transaction.merchant.name }} </p>
  <p>"<i>Amount: {{transaction.amount}}</i>"</p>
    <p>
      <form action="/transactions/{{ transaction.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
    <a href="/transactions/{{transaction.id}}">See More Details</a>
  </div>
  {% endfor %}
</div>
</center>

{% endblock %}